<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Kvitteris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-item brand-text is-size-4">
                    🤬🚗🖕
                </span>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/Cweets">
                        Ziņojumi
                    </a>
                    <a class="navbar-item" href="/Cweets/Create">
                        Jauns ziņojums
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <form id="search-form">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" id="plate-search" type="text" placeholder="Atrodi numuru!">
                                </div>
                                <div class="control">
                                    <button class="button is-secondary" type="submit" onsubmit="gotoSearch();">
                                        Meklēt
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <section class="section">
            <div class="columns is-centered">
                @RenderBody()
            </div>
        </section>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    <script type="text/javascript">
        document.getElementById('search-form').onsubmit = function () {
            var text = document.getElementById('plate-search').value;
            window.location.href = window.location.origin + "/Cweets/Search/" + text;
            return false;
        }
    </script>
</body>

</html>